:root{
    --primary: #fff;
    --bg-color: rgb(14, 14, 17);
    --bg-envelope-color: #CACFD2;
    --envelope-tab: #F2F3F4;
    --envelope-cover: #FDFEFE;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: rgb(231, 65, 15);
  }
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #000000 0%, #050c15 100%);
    animation: mover-espacio 20s linear infinite; /* Utiliza la animación mover-espacio con una duración de 20 segundos, lineal e infinita */
  }
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .container > .envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
    border-radius: 5%;
  }
  .envelope-wrapper > .envelope {
    position: relative;
    width: 300px;
    height: 230px;
    
  }
  .envelope-wrapper > .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
    border-radius: 6%;
  }
  .envelope-wrapper > .envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 130px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);
    border-radius: 5%;
  }
  .envelope > .letter {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: #FCF3CF;
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
    border-radius: 3%;
    
    
  }
  
  .envelope > .letter > .text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--txt-color);
    text-align: left;
    font-size: 8px;
  }
  .heart {
    position: absolute;
    top: 49%;
    left: 49%;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(0%, 0%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 1px 6px var(--shadow-color);
    cursor: pointer;
    /*animation: palpitacion 20s linear infinite; /* Utiliza la animación mover-espacio con una duración de 20 segundos, lineal e infinita */

    
  }
  .heart:before, 
  .heart:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(0%, 0%) rotate(180deg);
    background-color: var(--heart-color);
    border-radius: 50%;
    
  }
  .heart:before {
    top: -7.5px;
  }
  .heart:after {
    right: 7.5px;
  }
  .flap > .envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
    top:10px;
  }
  .flap > .envelope > .letter {
    bottom: 150px;
    transform: scale(1.5);
    transition-delay: 1s;
    
  }
  .flap > .Imagen_Flor{
    visibility: visible;
    max-width: 100%;
    height: auto;
    

  }
  .flap > .heart {
    transform: rotate(0deg);
    transition-delay: 0.4s;
  }
  .Imagen_Flor{
    height: 100px;

    
  }
  @keyframes palpitacion {
    0% {
        transform: scale(1); /* Escala normal */
        transform: rotate(45deg);
    }
    0% {
        transform: scale(1.1); /* Escala normal */
        transform: rotate(-45deg);
    }
    100% {
        transform: scale(1.2); /* Escala un poco más grande */
    }
}
@keyframes mover-espacio {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
